@import "bootstrap/scss/bootstrap";
@import "@fortawesome/fontawesome-free/css/all.min.css";

// RESET 
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Source Sans Pro", sans-serif;
}

:root{
    --ms-primary-color: #ff4612;
    --ms-bold-color: #1e1e1e;
    --ms-secondary-color: #a7a7a7;
}

// COMMONS
ul{
    padding: 0;
    li{
        list-style-type: none;
    }
}

a{
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 15px;
}

img {
    max-width: 100%;
}

// UTILITIES
.white-link{
    padding: 15px 50px;
    background-color: white;
    color: black;
}

.orange-link{
    padding: 15px 50px;
    background-color: orangered;
    color: white;
}

.ms-container-90{
    width: 90%;
    margin: 0 auto;
}

.border-bt-line {
    border-bottom: 2px solid var(--ms-primary-color);
    width: 60px;
  }